<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no; width=device-width" />
        <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" />
    </head>
    <body>
        
        <div class="content ">
            <div class="leftColumn">
            
            
                <div class="card">
                    <h1>Televisions</h1>
                    <p>Televisions - Samsung, Philips, Onida.</p>

               
                    <div> <img src="/images/tvs.jpg"> </div>
                    <p> <td><a href="/tv">Telivision on Site</a></td></p>
                </div>
                
                
                <div class="card">
                    <div ><img src="/images/ipad.jpg" >
                        <div class="banner"></div>
                        <h2>Ipads and Tablets</h2>
                    </div>
                    <p>All standard HTML structures, styled with CSS.</p>
                </div>
                
                 <div class="card fixed-width">
                    <h1>This is a card!</h1>
                    <p>In essence, a card is just a rectangular region which contains content.  This content could be text, images, lists, etc... The card UI methaphor  dictates the interaction and layout of these regions.</p>
                </div>
                
            </div>
            <div class="rightColumn">
            
                <div class="card fixed-width">
                     <img src="/images/ph.jpg" height="275px" width="400px"> 
                        <h2>Phones</h2>
                    
                    <p> <td><a href="/ph">Phones on Site</a></td></p>
                </div>
                
                <div class="card fixed-width">
                    <h1>This is a card!</h1>
                    <p>In essence, a card is just a rectangular region which contains content.  This content could be text, images, lists, etc... The card UI methaphor  dictates the interaction and layout of these regions.</p>
                </div>
                
                <div class="card fixed-width">
                    <div class="card-image image4">
                        <div class="banner"></div>
                        <h2>Image, Banner, &amp; HTML</h2>
                    </div>
                    <p>In essence, a card is just a rectangular region which contains content.  This content could be text, images, lists, etc... The card UI methaphor  dictates the interaction and layout of these regions.</p>
                </div>
                
                <div class="card fixed-width">
                    <h1>This is a card!</h1>
                    <p>In essence, a card is just a rectangular region which contains content.  This content could be text, images, lists, etc... The card UI methaphor  dictates the interaction and layout of these regions.</p>
                </div>
                
            </div>
            
        </div>
        
        
        <div class="header">
            Welcome to One point Shopping Station- "Fab-Buy"
        </div>
        
        <div class="footer">
            All images copyright - avi jain </a>. 
        </div>
    </body>
</html>
        