<!doctype html>
<html>
<head>
	<title>User Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<style>
		body 		{ padding-top:20px; }
	</style>
</head>
<div align="right">
<a href='/logout'> SignOut </a>
</div>
<body>


<div class="container">

<div class="col-sm-6 col-sm-offset-3">

<span class="label label-warning">Your Order Processed Successfully.Your product/s will be delivered in 2-3 Business Days.</span>
	
	
	
	
	<div>
	
	Thanks for Shopping with Us.</h1>
   
	</div>


	
	<hr>
</div>

</div>
</body>
</html>